{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the the Blog,Here we will be talking about many things and this is really cool.get ready to learn new things</p>
            
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}